# Django
DJANGO_SECRET_KEY=gere-uma-chave-segura-aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=loterias.integrit.lab,192.168.68.11,localhost,127.0.0.1

# Email — Brevo SMTP
BREVO_SMTP_KEY=sua-chave-smtp-aqui
